/* Copy from Google fonts > @import and paste in CSS file's Top */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.App {
  min-height: 100vh;
  display: grid;
  background: #e2d4ff;
}